.date-wrap {
  @include flex(null, space-between, center, null);
  background-color: $bg-white;
  &.margin {
    margin-bottom: 12px;
  }
}

.btn-wrap {
  @extend .date-wrap;
  justify-content: center;
  gap: 20px;
}

.this-month {
  @include font-theme($bodySm-ext);
}