.panel {
  width: 100%;
  height: auto;
  padding: 10px 25px 20px;
  @include flex(column, flex-start, null, 10px);
  background-color: $bg-white;
  border-bottom: 1px solid $gray-300;
  position: sticky;
  top: 0;
  z-index: 10;
}