// 달력 판넬
.month {
  width: 100%;
  min-height: 397px;
  padding: 20px;
}

// 달력커버
.img {
  width: 100%;
  height: 580px;
  position: relative;
  &.img-mobile {
    height: 280px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.empty {
  width: 100%;
  height: 70px;
  border: 1px solid $gray-100;
  @include flex(null, center, center, null);
  .loading {
    width: 35px;
    height: 35px;
  }
}

.default {
  width: 100%;
  padding: 18px 0;
  background-color: $main-bg-400;
  @include flex(null, center, center, null);
  .icon {
    width: 18px;
    height: 18px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .cover-text {
    @include font-theme($bodySm-b);
    color: $spot-color;
  }
  .cover-btn {
    display: block;
    width: fit-content;
    @include flex(null, center, center, 8px);
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  input[type="file"] {
    display: none;
  }
}

.edit-img {
  position: absolute;
  top: 12px;
  right: 10px;
  .action-btn {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 0px 8px 25px rgba(6, 182, 212, 0.2);
    backdrop-filter: blur(5px);
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.edit-btn-wrap {
  width: 130px;
  position: absolute;
  top: 35px;
  right: -1px;
  padding: 12px;
  @include flex(column, null, null, 12px);
  background-color: white;
  border-radius: 12px;
  border: 1px solid $gray-200;
  .btn-init {
    width: 100%;
    @include flex(null, null, center, 8px);
    img {
      width: 16px;
      height: 16px;
    }
    span {
      @include font-theme($bodySm-b);
      color: $gray-800;
    }
  }
  input[type="file"] {
    display: none;
  }
}

/* PC 전용 hover */
@media (hover: hover) {
  .cover-btn:hover {
    background-color: $main-bg-300;
  }
  .btn-init {
    &:hover span {
      text-decoration: underline;
    }
  }
}

/* 모바일 전용 active */
@media (hover: none) {
  .cover-btn:active {
    background-color: $main-bg-300;
    font-weight: $ext-weight;
  }
  .btn-init {
    &:active span {
      text-decoration: underline;
      font-weight: $ext-weight;
    }
  }
}