.login-wrap {
  width: 100%;
}

.head {
  @include flex(null, center, center, 10px);
}

.headTitle {
  @include font-theme($headXl-ext);
  text-transform: uppercase;
  color: $main-color;
}

.label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  @include font-theme($bodyMd-r);
  letter-spacing: -0.05em;
  color: $gray-500;
  transition: all .3s cubic-bezier(.4,0,.2,1);
  &.focus {
    top: 18px;
    font-size: 12px;
  }
}

.account-meta-wrap {
  @include flex(false, space-between, center, null);
  @include font-theme($bodyMd-b);
  color: $gray-600;
  padding: 0 10px;
  margin-top: 15px;
}

.col-line {
  position: relative;
  padding-right: 20px;
  &::after {
    position: absolute;
    content: "|";
    font-size: 14px;
    top: 2px;
    right: 8px;
  }
}

.btn-wrap {
  margin-top:  80px;
  @include flex(true, center, null, 10px);
}

.auto-login {
  @include flex(false, center, center, 10px);
}

.join-link {
  color: $gray-600;
  @include font-theme($bodyLg-b)
}