.position {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $bg-white;
  padding: 15px;
  border-radius: 10px;
  @include flex(null, center, center, 10px);
  &.isDone {
    background-color: $gray-200;
  }
}

.flex {
  width: 100%;
  @include flex(null, null, center, 10px);
}

.title {
  width: 100%;
  @include flex(null, null, center, 5px);
}

.label {
  color: $gray-800;
}

.position.isDone .label {
  width: 100%;
  color: $gray-400;
  text-decoration: line-through;
}

.time-line {
  @include flex(null, null, center, 3px);
  @include font-theme($captionXs-b);
}

.time {
  color: $gray-400;
}

.btn-wrap {
  width: auto;
  height: 100%;
  @include flex(null, center, center, 15px);
}

@media (max-width: 560px) {
  .label {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
  }
}