header {
  width: 100%;
  max-width: 768px;
  background-color: $bg-white;
  padding: 20px 25px 10px;
  // position: fixed;
  // top: 0;
  // z-index: 20;
  ul {
    @include flex(null, space-between, center, null);
  }
}

.page-name {
  @include font-theme($captionSmPluse-ext);
  color: $gray-500;
}