header {
  position: fixed;
  width: 100%;
  max-width: 768px;
  top: 0;
  background-color: $bg-white;
  padding: 20px 30px 10px;
  z-index: 20;
  ul {
    @include flex(null, space-between, center, null);
  }
}

.page-name {
  @include font-theme($captionSmPluse-ext);
  color: $gray-500;
}