header {
  width: 100%;
  max-width: 768px;
  height: auto;
  background-color: $bg-white;
  padding: 20px 25px 10px;
  ul {
    @include flex(null, space-between, center, null);
  }

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 20;
  }
}

.page-name {
  @include font-theme($captionSmPluse-ext);
  color: $gray-500;
}