.select {
  border: none;
  width: fit-content;
  height: 100%;
  padding: 3px 8px;
  @include font-theme($bodySm-b);
  color: $gray-700;
}

.time-container {
  width: 100%;
  padding: 10px 0;
  @include flex(column, center, null, 10px);
}

.radio-warp {
  @include flex(null, null, center, 5px);
}

.btn-wrap {
  width: 100%;
  padding: 0 20px;
  @include flex(null, null, center, 20px);
}

.input-time {
  width: auto;
  @include flex(null, null, center, 20px);
}

.time-text {
  padding: 8px 0;
  background-color: $gray-200;
  border-radius: 8px;
  @include flex(null, center, center, 20px)
}

.width {
  width: 45px;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-65px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}