.diary-container {
  width: 100%;
  min-height: 85px;
  border-radius: 15px;
  background-color: $bg-white;
  @include grid-col(65px 1fr, null, center, center, null);
}

.diary-list {
  @include flex(column, center, null, 20px);
}

.date-box {
  text-align: center;
}

.date {
  color: $gray-800;
  @include font-theme($bodySm-b);
  &.weekend {
    color: $gray-500;
  }
  &.today {
    font-weight: $ext-weight;
    color: $main-color;
  }
}

.day {
  color: $gray-500;
  @include font-theme($bodySm-r);
}

.content-box {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-left: 1px solid $spot-color;
}

.content-head {
  @include flex(null, space-between, center, null);
}

.title {
  @include font-theme($bodySm-b)
}

.btn-wrap {
  @include flex(null, center, center, 15px);
  position: relative;
}
.del-wrapper {
  position: absolute;
  top: 22px;
  margin-right: 12px;
  width: 80px;
  padding: 12px 8px;
  border: 1px solid $gray-100;
  border-radius: 8px;
  box-shadow: 3px 3px 3.9px rgba(0, 0, 0, 0.25);
  background-color: white;
  z-index: 1;
  .del-btn {
    width: 100%;
    @include font-theme($bodySm-b);
    color: $red-color;
    @include flex(null, center, center, 4px);
    img {
      width: 18px;
      height: 18px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.content-diary {
  margin-top: 10px;
  @include font-theme($bodyMd-r);
}

.text {
  @include font-theme($bodySm-r);
  white-space: pre-wrap;
}