.column {
  @include flex(column, center, null, 40px);
}
.todo-list {
  margin-top: 16px;
  @include flex(column, center, null, 8px);
}

.position {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $bg-white;
  padding: 15px;
  border-radius: 10px;
  @include flex(null, center, center, 10px);
  &.isDone {
    background-color: $gray-200;
  }
}

.flex {
  width: 100%;
  @include flex(null, null, center, 10px);
}

.title {
  width: 100%;
  @include flex(null, null, center, 5px);
}

.label {
  color: $gray-800;
  @include font-theme($bodySm-r);
}

.position.isDone .label {
  color: $gray-400;
  text-decoration: line-through;
}

.info-wrap {
  // @include flex(column, null, null, null);
}

.meta-wrap {
  @include flex(null, null, center, 3px);
  @include font-theme($captionXs-b);
}

.meta {
  color: $gray-400;
}

.btn-wrap {
  width: auto;
  height: 100%;
  @include flex(null, center, center, 15px);
}

.repeat-wrap {
  @include flex(null, null, center, 2px);
  .days-txt {
    @include font-theme($captionXs-r);
    color: $gray-600;
  }
}

@media (max-width: 560px) {
  .label {
    width: 215px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}