.diary-list {
  width: 100%;
  margin-bottom: 20px;
}

.head {
  margin-bottom: 8px;
  @include flex(null, space-between, center, null);
}
.title{
  color: $gray-700;
  @include font-theme($captionSmPluse-ext)
}

.list-wrap {
  padding: 0 10px;
  @include flex(null, null, center, 8px);
}

.todo-list {
  & li:first-child {
    margin-bottom: 8px;
  }
  & li:last-child .dot {
    background-color: $blue-color;
  }
}

.name {
  @include font-theme($bodyMdPlus-r)
}

.dot {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #321913;
  border-radius: 100%;
}