.bg {
  width: 100%;
  max-width: 580px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.20);
  @include flex(null, center, center, null);
  z-index: 40;
}

.modal-warp {
  width: 280px;
  height: 130px;
  padding: 20px;
  background-color: $bg-white;
  border-radius: 20px;
  text-align: center;
}

.modal-txt {
  width: 100%;
  @include font-theme($bodySm-b);
  padding: 10px 0;
}

.btn-wrap {
  width: 100%;
  margin-top: 20px;
  @include flex(null, center, flex-end, 10px)
}