.container {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  background-color: white;
}

.time-wrap {
  position: relative;
  width: 100%;
  height: 167px;
  overflow: hidden;
  padding: 8px 0;
  @include flex(null, center, flex-start, 24px);
  &::after {
    content: "";
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.08);
    pointer-events: none;
  }
}

.text-wrap {
  height: 100%;
  @include flex(column, null, null, null);
  scroll-snap-type: y proximity;
  scroll-snap-stop: always;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.text-wrap::-webkit-scrollbar {
  display: none;
}

.time-text {
  width: 50px;
  height: 50px;
  @include font-theme($bodySm-b);
  line-height: 50px;
  color: $gray-300;
  padding: 2px;
  text-align: center;
  scroll-snap-align: center;
  &.none {
    visibility: hidden;
  }
  &.active {
    font-weight: $ext-weight;
    color: $bg-black;
  }
}

// date-wrap
.date-container {
  width: 100%;
  padding-left: 38px;
}

.repeat-select {
  padding: 8px 0;
  @include flex(null, space-between, center, null);
  border-bottom: 1px solid $gray-200;
}

.days-container {
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid $gray-200;
  .tooltip-wrap {
    position: relative;
    p {
      @include font-theme($captionXs-b);
      color: $gray-600;
    }
    .tooltip {
      position: absolute;
      top: 0;
      left: 48px;
      @include flex(null, null, center, 2px);
      p {
        @include font-theme($captionXxs-r);
        color: $gray-500;
        background-color: $gray-100;
        padding: 1px 4px;
        border-radius: 4px;
      }
    }
  }

  .days-wrapper {
    @include font-theme($bodySm-r);
    @include flex(null, null, center, 4px);
    margin-top: 8px;
    button {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      &.active {
        font-weight: $bold;
        background-color: $main-color;
        color: white;
      }
    }
  }
}

// repeat end
.until-container {
  width: 100%;
  height: 54px;
  padding: 8px 0;
  @include flex(null, space-between, center, null);
  input[type="date"] {
    flex-shrink: 0;
    width: 125px;
  }
}
.check-wrap {
  @include flex(null, null, center, 8px);
}