@use "sass:map";
@use "sass:math";
@use "./variables" as *;

@mixin flex($col: null, $justi: null, $align: null, $gap: null) {
  display: flex;
  @if $col {
    flex-direction: column;
  }
  @if $justi {
    justify-content: $justi;
  }
  @if $align {
    align-items: $align;
  }
  @if $gap {
    gap: $gap;
  }
}

@mixin bgImg($url, $position: center, $size: cover) {
  background-image: url($url);
  background-position: $position;
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin grid-col($col, $justify-content, $justify-item, $align, $gap) {
  display: grid;
  @if $col {
    grid-template-columns: $col;
  }
  @if $justify-content {
    justify-content: $justi;
  }
  @if $justify-item {
    justify-items: $justify-item;
  }
  @if $align {
    align-items: $align;
  }
  @if $gap {
    gap: $gap;
  }
}

@mixin font-style($size, $line, $weight, $letter) {
  font-size: $size;
  font-weight: $weight;
  @if ($line) {
    line-height: math.round($size * $line);
  }
  letter-spacing: $letter;
}

@mixin headXxl-font($line, $weight) {
  @include font-style($headXxl, $line, $weight, -0.02em);
}

@mixin titleXl-font($line, $weight) {
  @include font-style($titleXl, $line, $weight, -0.02em);
}

@mixin body-font($size, $line, $weight) {
  @include font-style($size, $line, $weight, -0.02em);
}

@mixin caption-font($size, $line, $weight) {
  @include font-style($size, $line, $weight);
}

@mixin font-theme($name) {
  $f: map.get($font-map, $name);
  @if $f == null {
    @error "Unknown theme `#{$name}`";
  }

  @include font-style(map.get($f, size), map.get($f, line), map.get($f, weight), map.get($f, letter));
}
