.toggle-btn {
  display: block;
  width: 51px;
  height: 31px;
  border-radius: 100px;
  background-color: $gray-300;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none; /* 드래그 방지 */
  &.on {
    background-color: $main-color;
  }
}

.toggle-switch {
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: $bg-white;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.3s ease-in-out;
  &.on {
    transform: translateX(20px); // 이동할 거리
  }
}