header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $bg-white;
  padding: 20px 30px 10px;
  ul {
    @include flex(null, space-between, center, null);
  }
}

.page-name {
  @include font-theme($bodyMdPlus-ext);
  color: $gray-700;
}