@use "./base/reset" as *;
@use "./abstract/font" as *;

// 전체설정
body {
  background-color: #BFA6A2;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.container {
  position: relative;
  max-width: 580px;
  height: 100%;
  margin: 0 auto;
  background-color: $bg-gray;
}

.account-container {
  padding: 0 50px;
  height: 100dvh;
  @include flex(true, center, center, 50px);
}

.form-container {
  @include flex(true, center, center, 20px);
}

.hidden {
  width: 100%;
  height: calc(100dvh - 238px);
  overflow: hidden;
  &.mypage {
    padding: 20px;
    height: calc(100dvh - 128px);
  }
}

article {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

// form태그 초기화
button {
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent; /* 터치 하이라이트 제거 */
}

input:focus {
  outline: none;
  box-shadow: none;  
}

input {
  outline: none;
  box-shadow: none;
  border-radius: 0; /* 둥근 모서리 제거 */
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent; /* 터치 하이라이트 제거 */
}

input[type="search"] {
  -webkit-appearance: none;
}