@use "./base/reset" as *;
@use "./abstract/font" as *;

// 전체설정
body {
  background-color: #FFFBFA;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.container {
  position: relative;
  max-width: 580px;
  height: 100%;
  margin: 0 auto;
  background-color: $bg-gray;
}

// main {
//   width: 100%;
//   height: 100%;
// }

.hidden {
  width: 100%;
  height: calc(100dvh - 228px);
  overflow: hidden;
  &.mypage {
    padding: 20px;
    height: calc(100dvh - 118px);
  }
}

article {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

// form태그 초기화
button {
  outline: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

input {
  outline: none;
  box-shadow: none;
  border-radius: 0; /* 둥근 모서리 제거 */
}

input[type="search"] {
  -webkit-appearance: none;
}